<!-- <textarea rows="6" [value]="newPost"></textarea>
<hr>
<button (click)="onAddPost()">Save Post</button>
<p>{{ newPost }}</p> -->

<!-- local reference 
<textarea rows="6" [value]="newPost" #postInput></textarea>
<hr>
<button (click)="onAddPost(postInput)">Save Post</button>
<p>{{ newPost }}</p> -->
<mat-card>
    <mat-form-field>
        <input matInput rows="6" placeholder="Title" [(ngModel)]="enteredTitel">
    </mat-form-field>
    <mat-form-field>
        <textarea matInput rows="6" placeholder="Content" [(ngModel)]="enteredContent"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onAddPost()">Save Post</button>
</mat-card>
