<!-- <textarea rows="6" [value]="newPost"></textarea>
<hr>
<button (click)="onAddPost()">Save Post</button>
<p>{{ newPost }}</p> -->

<!-- local reference 
<textarea rows="6" [value]="newPost" #postInput></textarea>
<hr>
<button (click)="onAddPost(postInput)">Save Post</button>
<p>{{ newPost }}</p> -->
<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input matInput rows="6" placeholder="Title" ngModel required name="postTitle">
            <mat-error *ngIf="postForm.controls['postTitle'].invalid"> required </mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="6" placeholder="Content" ngModel required name="postContent"></textarea>
            <mat-error *ngIf="postForm.controls['postContent'].invalid"> required </mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Save Post</button>
    </form>
</mat-card>
